<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive custom-color-blue">
        <h1 class="title">Contact Us</h1>
        <button class="button button-clear button-primary" ng-click="modal_about.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding">
      <div class="list">
            <strong style="color:#2690ad;">Thank you for trying Yolo.</strong>
            <br /><br />
                <blockquote><strong><i>"I like the idea of being part of a small, exclusive club. It makes me feel special" ~ bp</i></strong></blockquote>
            We invite you to create or join a small group.<br /><br />
            Peruse the categories quickly and find a group that suits you. Get to know other members intimiately in a private setting.<br />
            <br />
            <hr>
            <br />
            If you're having problems with the app, or for any other reason, give us a holla.
            <br />
            <a href="mailto:theteam@theopencircles.com">theteam@yoloapp.co</a> 
        </div>
    </ion-content>
</ion-modal-view>