<ion-view view-title="Start a group - {{user.question.amount}} of 100">
    <ion-header-bar class="bar bar-header bar-positive custom-color-blue">
        <h1 class="title">Create group</h1>
        <button class="button button-clear button-primary" ng-click="modal1.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="list">
            <!--<label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search Groups" ng-change="searchg()" ng-model="data.groups">
            </label>-->
            <label class="item item-input item-select">
                <div class="input-label">
                    Categories
                </div>
                <select ng-model="user.group" ng-options="select.groupName for select in data.listg">
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Limit size to
                </div>
                <select ng-model="user.limit">
                    <option value="2">2 members</option>
                    <option value="3">3 members</option>
                    <option value="4">4 members</option>
                    <option value="5">5 members</option>
                    <option value="6">6 members</option>
                    <option value="7">7 members</option>
                    <option value="8">8 members</option>
                    <option value="9">9 members</option>
                    <option value="10">10 members</option>
                    <option value="11">11 members</option>
                    <option value="12">12 members</option>
                    <option value="13">13 members</option>
                    <option value="14">14 members</option>
                    <option value="15">15 members</option>
                    <option value="16">16 members</option>
                    <option value="17">17 members</option>
                    <option value="18">18 members</option>
                    <option value="19">18 members</option>
                    <option value="20">20 members</option>
                </select>
            </label>
            <label class="item item-input">
                <textarea my-maxlength="120" row="0" name="comment" id="comment-textarea" class="no-resize" ng-model="user.question" placeHolder="Describe your group: min of 15 characters max 100"></textarea>
            </label>
        </div>
        <button ng-disabled="disable" class="button button-full button-positive custom-color-blue" ng-click="ask(user)">Add Group</button>
    </ion-content>
</ion-view>