<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-assertive">
        <h1 class="title">Remove Member</h1>
        <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="list">
            <div class="avatar"><img width="50" ng-src="{{ejectImage}}"><br />
            {{ejectName}}
            </div>
            Warning! This action will permanately remove this member from your group
            <br /><br/>
            <label class="item item-input">
                <textarea row="0" name="comment" id="comment-textarea" class="no-resize" ng-model="eject.reason" placeHolder="Give reason..."></textarea>
            </label>
            <button class="button button-full button-assertive" ng-click="ejectuser(eject)">Eject Member</button>
        </div>
    </ion-content>
</ion-modal-view>