<ion-view view-title="Conversations">
    <ion-content>
        <ion-list ng-show="rooms">
            <ion-item class="item-icon-left" ng-repeat="room in rooms | conversation:'conversationStarted'" type="item-text-wrap" 
             ng-click="openChatRoom(room.question, room.$id, room.groupID, room.groupName, room.publicQuestionKey, room.organizerUserID, room.avatar)">
                <i class="icon {{room.icon}}"></i>
                <h2 ng-class="{'started-conversation': room.conversationStarted}">{{room.question}}</h2>
                <h4 class="displayname">{{room.groupName}} | {{room.displayName}}</h4>
            </ion-item>
        </ion-list>
         <ion-item class="textCenter" ng-model="message">You have {{rooms.length}} conversation(s)</ion-item>      
    </ion-content>
    <div class="float-button1" style="
          background-color:#6daa79;
          opacity: 0.9;
          color: white;
          border-radius: 50%;
          width: 30px;
          padding: 25px;
          font-size: 40px;
          position: fixed;
          bottom: 5%;
          right: 5%;
          z-index: 1000;
          ">
        <span class="height-fix1" ng-click="askQuestion()">
            <a class="content" style="
                position: absolute;
                left: 0;
                top: 70%;
                height: 100%;
                width: 100%;
                text-align: center;
                margin-top: -20px;
                color: white;
            ">
                <i class="ion-ios-arrow-up">+</i>
            </a>
         </span>
    </div>
</ion-view>
