<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-assertive">
        <h1 class="title">Remove Me From Group</h1>
        <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="list">
            This will remove you from the group<br /><br />
            Are you sure?
            <button class="button button-full button-assertive" ng-click="unjoinme()">Unjoin Group</button>
        </div>
    </ion-content>
</ion-modal-view>